html{
    scroll-behavior: smooth;
}

*{box-sizing: border-box;}

body{
    margin: 0;
    background-size: cover;
    padding: 0;
      background: linear-gradient(-70deg,  #001927, #000000);
      color:var(--text-dark);
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      line-height:1.45;
}

.wrap{
      max-width:var(--container-max);
      margin:0 auto;
      padding:0 20px;
    }

.header{
    display: flex;
    justify-content: space-between;
    height: 83px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(-70deg,  #001927, #000000);
    border-bottom: 2px solid #0097ee;
    width: 100%;
    z-index: 1000;
}

.logo{
    background-image: url(./img/pngwing.com\ \(24\).png);
    background-size: 120px;
    background-repeat: no-repeat;
    width: 200px;
    height: 70px;
    margin-left: 90px;
    margin-top: 10px;
}

.header h1{
    font-size: 40px;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 4px;
    margin-left: 120px;
    margin-top: 10px;
    cursor: pointer;
}

.header h1 span{
    color: #0097ee;
    animation: fadeInRight 1s;
}

.links a{
    margin: 20px;
    margin-right: 50px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    display: flex;
    display: inline-block;
    margin-top: 30px;
    transition: 0.5s;
}

.links a:hover{
    color: #0097ee;
    transform: translateY(-2px);
}


/* Hero */

.text{
    margin-top: 180px;
    margin-left: 180px;
    animation: fadeInUp 1.5s ease forwards;
}

/* Fade and slide animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text{
    margin-top: 200px;
}

.text h1{
    color: white;
    font-family: sans-serif;
    font-size: 70px;
}
.text h1 span{
    color: #0097ee;
    font-family: fantasy;
    letter-spacing: 2px;
}

.text p{
    width: 400px;
    color: white;
    font-size: 20px;
}

.btn-orignal{
    background-color: #0097ee;
    height: 40px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 70px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.5s;
}

.btn-orignal:hover{
    background-color: white;
    border: 2px solid #0097ee;
    color: #0097ee;
}

.btn-opposite{
    background: linear-gradient( to bottom right, #000000, #022b42);
    border: 2px solid #0097ee;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 70px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    cursor: pointer;
}

.btn-opposite:hover{
    background-color: #0097ee;
    color: white;
}

.hero-img{
    width: 500px;
    height: 700px;
    background-image: url(./img/pngwing.com\ \(18\).png);
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
    padding-top: 100px;
    margin-top: -600px;
    margin-right: 200px;
    animation: fadeInRight 10s ease forwards infinite;
    transition: transform 2s ease-in-out;
    background-position: center;
    z-index: 300;
}

@keyframes fadeInRight {
  0% {
    opacity: 0.1;
    transform: translateX(60px);
  }

  50% {
    opacity: 1;
    transform: translateX(-50px);
    
  }


  100%{
    transform: translateX(60px);
  }
}

.section-two{
    width: 100%;
    margin-top: 200px;
}

.section_two-img{
    width: 500px;
    height: 500px;
    background-image: url(./img/charles-gaudreault-xXofYCc3hqc-unsplash.jpg);
    border-radius: 30px;
    background-position: center;
    background-size: 500px;
    background-repeat: no-repeat;
    border: 2px solid #024268;
    box-shadow: rgba(2, 118, 250, 0.25)0px 0px 40px;
    float: right;
    margin-right: 150px;
    margin-top: -400px;
}

.section_two-text h1{
    color: white;
    text-align: center;
    border-left: 3px solid #0097ee;
    border-right: 3px solid #0097ee;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 40px 5px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    line-height: 70px;

}

.p-one{
    color: white;
    font-size: 25px;
    width: 400px;
    margin-left: 200px;
    margin-top: 100px;
}

.p-two{
    color: white;
    font-size: 25px;
    width: 400px;
    margin-left: 200px;
}

.section-two .btn-three{
    background-color: white;
    color: #0097ee;
    border: 2px solid #0097ee;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 200px;
    transition: 1s;
}

.btn-three:hover{
    background-color: #0097ee;
    color: white;
}

.section_two-text span{
    color: #0097ee;
    font-family: fantasy;
    letter-spacing: 2px;
}

/* section three */
.title{
    text-align: center;
    font-size: 50px;
    color: #0097ee;
    margin-top: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 150px;
    background: linear-gradient(to bottom right, #000000, #080808);
    width: 100%;
    height: 650px;
    margin-top: -150px;
}

.one{
    width: 300px;
    height: 400px;
    background-color: black;
    text-align: center;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 170px;
    margin-top: 150px;
    border: 1px solid #28324d;
    box-shadow: rgba(2, 118, 250, 0.25) 0px 0px 20px;
    transition: 0.3s;
}

.ru{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    margin-top: 10px;
    display: block;
    margin-left: 5px;
    margin-bottom: 20px;
    border: 2px solid #001927;
}

.one:hover{
    box-shadow: rgba(2, 118, 250, 0.25) 0px 0px 50px;
    transform: translateY(-10px);
}

.one-title{
    color: #0097ee;
    font-family: Arial, Helvetica, sans-serif;
}

.one p {
    color: white;
    width: 250px;
    margin-left: 20px;
}



.testimonials {
      
      text-align: center;
      padding: 100px 60px;
    }

    .testimonials h2 {
      color: #0097ee;
      font-size: 36px;
      margin-bottom: 50px;
    }

    .testimony {
      max-width: 700px;
      margin: auto;
      background-color: black;
      padding: 40px;
      border-radius: 20px;
      box-shadow: rgba(2, 118, 250, 0.25)0px 0px 40px;
      color: #ccc;
      font-style: italic;
      margin-bottom: 30px;

    }

    .testimony span {
      display: block;
      margin-top: 15px;
      color: #0097ee;
      font-weight: bold;
      font-style: normal;
    }



     .section-four{
            margin-top: 100px;
            background: linear-gradient(to bottom right, #000000, #000000ff );
            height: 700px;
            width: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
            box-shadow: rgba(136, 137, 138, 0.25) -10px -10px 40px;
            border-top: 2px solid #094b97;
        }

        .section-four-text{
            margin-left: 90px;
            color: white;
        }
        .section-four h1{
            font-size: 50px;
            
        }
        .section-four span{
            color: #0097ee;
        }

        .section-four p{
            width: 400px;
            font-size: 25px;
            margin-top: -50px;
        }

        .sign-up{
            backdrop-filter: blur(20px);
            background-color: rgba(255,255,255,0.13);
            width: 400px;
            z-index: 100;
            height: 500px;
            border: 2px solid rgba(255,255,255,0.1);
		    box-shadow: 0 0 40px rgba(3, 85, 153, 0.6);
            border-radius: 10px;
            
            margin-left: 30px;
        }
    

        .sign-up h3{
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            align-items: center;
            justify-content: center;
            display: flex;
            color: white;
        }

        .shadow{
            margin-left: 30px;
        }

        .first-name{
            width: 150px;
             height: 40px;
             border-radius: 7px;
            border: none;
            border: 2px solid #d8d8d8;
            padding-left: 15px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .second-name{
            width: 150px;
             height: 40px;
             border-radius: 7px;
            border: none;
            border: 2px solid #d8d8d8;
            padding-left: 15px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .email{
            width: 313px;
            margin-top: 20px;
             height: 40px;
             border-radius: 7px;
            border: none;
            border: 2px solid #d8d8d8;
            padding-left: 15px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .password{
            width: 313px;
            margin-top: 20px;
             height: 40px;
             border-radius: 7px;
            border: none;
            border: 2px solid #d8d8d8;
            padding-left: 15px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .confirm-password{
            width: 313px;
             height: 40px;
             margin-top: 20px;
             border-radius: 7px;
            border: none;
            border: 2px solid #d8d8d8;
            padding-left: 15px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .date{
            width: 316px;
            height: 40px;
            border-radius: 7px;
            border: none;
            border: 2px solid #d8d8d8;
            margin-top: 20px;
            padding-left: 15px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .sign{
            background-color: white;
            border: 2px solid #0097ee;
            height: 40px;
            width: 300px;
            margin-top: 25px;
            margin-left: 10px;
            border-radius: 8px;
            font-size: 20px;
            color: #0097ee;
            transition: 1s;
            cursor: pointer;
        }

        .sign:hover{
            background-color: #0097ee;
            color: white;
        }

        .circle{
            width: 150px;
            height: 150px;
            border-radius: 100%;
            background: linear-gradient(#000000, #0097ee);
            position: absolute;
            
        }   
        
        .circle-one{
            animation: ToptoDown 5s infinite;
            margin-top: -470px;
            margin-left: 30px;
        }

        @keyframes ToptoDown{
            0% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    -moz-transform: rotateX(0deg) translateY(0px);
    -ms-transform: rotateX(0deg) translateY(0px);
    -o-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px);
    }

  50% {
    -webkit-transform: rotateX(0deg) translateY(1px) translateX(5px);
    -moz-transform: rotateX(0deg) translateY(10px) translateX(5px);
    -ms-transform: rotateX(0deg) translateY(30px) translateX(5px);
    -o-transform: rotateX(0deg) translateY(40px) translateX(5px);
    transform: rotateX(0deg) translateY(10px) translateX(5px);
}
  100% {
    -webkit-transform: rotateX(0deg) translateY(0px) translateX(1px);
    -moz-transform: rotateX(0deg) translateY(0px) translateX(1px);
    -ms-transform: rotateX(0deg) translateY(0px) translateX(1px);
    -o-transform: rotateX(0deg) translateY(0px) translateX(1px);
    transform: rotateX(0deg) translateY(0px) translateX(1px);
  }
        }

      
      
footer{
    height: 300px;
    width: 100%;
    background-color: rgb(1, 13, 26);
    border-top: 1px solid #0097ee;
}

.grid-two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

.info{
    height: 200px;
    margin-left: 30px;
    text-align: center;
    margin-top: 30px;
}

.info p{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.info a{
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    line-height: 25px;

}

.info a:hover{
    color: #0097ee;
}

.info h5{
    color: white;
    font-size: 15px;
    line-height: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.info h5 a{
    line-height: 20px;
}

.info h1{
    color: white;
    margin-top: -20px;
}
.info h1 span{
    color: #0097ee;
}

.info button{
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    font-size: 18px;
    margin-top: -30px;
}

.social-links{
    
}

.social-links a{
    width: 40px;
  height: 40px;
  color: green;
  display: flex;
  display: inline-block;
  fill: #021f30;
  transition: 0.5s;
  margin: 10px;
}
.social-links a:hover{
    fill: #0097ee;
}


